/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 22, 2022, 9:15:05 PM
    Author     : Tran Huy Anh 
*/
header {
    height: 50px;
    margin-top: 20px;
}

h1 {
    color: rgb(44, 77, 187);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 50px;
}
.logo {
    float: left;    
    height: 50px;
    margin-left: 50px;
}

.avt {
    float: right;
    height: 40px;
    padding-right: 30px;
}

.logout_btn {
    text-decoration: none;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    padding: 10px;
    color: #000;
    background-color: rgb(66, 123, 213); 
    border-radius: 10px;
}

.Group_class table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.Schedule_table table tr th{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(38, 108, 16); 
    border: solid 2px;
    border-color: rgb(0, 0, 0);
}

.Group_class table tr td{
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
}
.Group_class table tr td:first-child{
    text-align: center;
    padding-left: 0;
}
